#about{
    height: 100vh;
}
#about h1{
    text-align: center;
}
.aboutme{
    padding: 10%;
    
}
#about p{
    margin-left: 1%;
    font-size: 20px;
    width: 80%;
    padding: 10px;
    color: #2c3e50;

}